<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>dog_ability.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{275,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,176}}</string>
                <key>sourceSize</key>
                <string>{275,176}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,100},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>food.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,100},{179,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,84}}</string>
                <key>sourceSize</key>
                <string>{179,84}</string>
            </dict>
            <key>food_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{179,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,84}}</string>
                <key>sourceSize</key>
                <string>{179,84}</string>
            </dict>
            <key>fooding.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,278},{179,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,84}}</string>
                <key>sourceSize</key>
                <string>{179,84}</string>
            </dict>
            <key>friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,278},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{185,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,84}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,364},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>gold_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,364},{238,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,40}}</string>
                <key>sourceSize</key>
                <string>{238,40}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,364},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>like.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>like_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,450},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>like_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,450},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
            <key>like_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,450},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,36}}</string>
                <key>sourceSize</key>
                <string>{100,36}</string>
            </dict>
            <key>like_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,450},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
            <key>lv_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,450},{150,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,20}}</string>
                <key>sourceSize</key>
                <string>{150,20}</string>
            </dict>
            <key>mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>name_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,492},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,492},{185,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,84}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>play_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,492},{185,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,84}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{185,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,84}}</string>
                <key>sourceSize</key>
                <string>{185,84}</string>
            </dict>
            <key>reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,578},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,578},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>step.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,578},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>train.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{179,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,84}}</string>
                <key>sourceSize</key>
                <string>{179,84}</string>
            </dict>
            <key>train_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,664},{179,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,84}}</string>
                <key>sourceSize</key>
                <string>{179,84}</string>
            </dict>
            <key>training.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{179,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,84}}</string>
                <key>sourceSize</key>
                <string>{179,84}</string>
            </dict>
            <key>warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,750},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,750},{142,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,84}}</string>
                <key>sourceSize</key>
                <string>{142,84}</string>
            </dict>
            <key>white_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,750},{110,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b6ac70de239b62f4946acd674389e7:d584f7231d100ed46167bad604d9f918:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
