<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,81},{104,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,73}}</string>
                <key>sourceSize</key>
                <string>{104,73}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{106,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,157},{103,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,76}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f06ddaafca8a9dadb22d104f0f65ce6:78d20c6284c8bd87fadf8e243f0fdd16:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
